
<!-- <div data-url="<%= Rho::RhoConfig.start_path %>/" > -->
<!--     <div data-position="inline"> -->
  <ion-header-bar class='bar-light'>
    <h1 class='title'>Product Manager</h1>
    <% if SyncEngine::logged_in > 0 %>
      <a href="<%= url_for :controller => :Settings, :action => :do_sync %>" class="button button-clear">
        Sync
      </a>
      <a href="<%= url_for :controller => :Settings, :action => :logout %>" class="button button-clear">
        Logout
      </a>
    <% else %>
      <a href="<%= url_for :controller => :Settings, :action => :login %>" class="button button-clear">
        Login
      </a>
    <% end %>
  </ion-header-bar>

  <div class='has-header' data-ng-controller="HomeCtrl">  
    <ion-nav-vew data-ng-view></ion-nav-vew>
  </div>
