<ion-view>

	<ion-header-bar>
    	<h2 class='title'>Reset Database</h2>
  	</ion-header-bar>
  
  	<ion-content class='padding has-header'>
  		<div class='row'>
  			<h3>Are you sure?</h3>	    	
	    </div>
	    <div class='row'>
	    	<p>Resetting removes all objects from your device.</p>
	    </div>
  		<div class='row'>
		    <a href="<%= url_for :action => :index %>" class="button col button-energized">Cancel</a>
		    <a href="<%= url_for :action => :do_reset %>" class="button col col-offset-10 button-balanced">Confirm</a>
		  </div>
	  
	    
	</ion-content>

</ion-view>